.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 60px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: var(--main-color);
}

.prev {
  position: absolute;
  left: 16px;
}

.body {
  text-align: center;
  color: #fff;
}

.title {
  font-size: 14px;

  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.users {
  margin-top: 5px;
  font-size: 10px;
}