.header {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  /* background-color: #fd7e14; */
  /* background-color: #e1ad01; */
  /* background-color: #d4ac4c; */
  background-color: var(--main-color);
  height: 50px
}

.logo {
  height: 12px;
  flex: 0;
}

.list {
  padding-left: 16px;
  padding-right: 16px;
}